/* fonts.css */
.rem-regular {
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rem-bold {
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.rem-light {
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Add more styles as needed */
